.top-background{
    min-height: 200px;
    background-image: url("../../../picture/main/wallpaper2.jpg");
    background-size:cover;
    box-shadow: 0 0 3px grey;
}

.board{
    position: relative;
    background-color: white;
    top:-100px;
    min-height: 500px;
    box-shadow: 0 0 2px grey;
    padding-bottom: 50px;
    border-top: solid #587ea3 10px;
}

.btn-social-icon{
    margin : 10px 0 10px 5px;
}